LOG_LEVEL=debug

NETWORK=""

SEED_PHRASE=""
ACCOUNT_INDEX=""

OGMIOS_HOST=""
OGMIOS_PORT=""
OGMIOS_TLS=""

KUPO_HOST=""
KUPO_PORT=""
KUPO_TLS=""

INDIGO_ANALYTICS_API_HOST=""
INDIGO_ANALYTICS_API_PORT=""
INDIGO_ANALYTICS_API_TLS=""

MINSWAP_POOL_ID=""
INDIGO_ASSET_NAME=""